kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ include "kubernetes-events-notifier.fullname" . }}
  labels:
    {{- include "kubernetes-events-notifier.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "kubernetes-events-notifier.fullname" . }}
subjects:
  - kind: ServiceAccount
    name: {{ include "kubernetes-events-notifier.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
